.option_disabled{
    color: var(--vermelho);
}

.form_add{
    background-color: transparent;
    border: solid 1px var(--cinza-escuro);
    border-radius: 8px;
    gap: 8px;
}

.main_add{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.fieldset_add{
    gap: 5px;
}

.input_add::placeholder{
    font-size: 0.7rem;
    line-height: normal;
}

.btn__add{
    background: var(--vermelho);
    color: var(--branco);
    font-family: var(--montserrat);
    font-weight: 600;
    border-radius: 8px;
    height: 30px;
}