.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.card_content {
    background: var(--cinza);
    border-radius: 26px;
    height: 390px;
    width: 265px;
}

.preco_btn-mais {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card_informacoes {
    display: flex;
    flex-direction: column;
    height: 109px;
    justify-content: space-between;
    margin: 15px;
}

.preco {
    font-weight: 600;
   
}

.modelo .preco .txt{
    margin-bottom: 0;
    font-family: var(--montserrat);
}

.txt{
    text-transform: uppercase;
}

.link_mais{
    text-decoration: none;
}


.btn_mais {
    align-items: center;
    background: var(--cinza-escuro);
    border-radius: 100%;
    color: var(--branco);
    display: flex;
    font-family: var(--montserrat);
    font-size: 3rem;
    font-weight: 600;
    height: 45px;
    justify-content: center;
    width: 45px;
}

.btn_mais:active{
    transform: scale(0.9);
}

.info_card{
    display: flex;
    gap: 5px;
    
}

.card_foto{
    border-radius: 26px;
    height: 250px;
    object-fit: cover;
    width: 100%;
    
}


.ver_mais {
    align-items: center;
    display: flex;
    gap:  10px;
}

