.link_menu_suspenso {
    border-radius: 7px;
    color: var(--preto);
    font-size: 1rem;
    padding: 7px;
    font-family: var(--montserrat);
    text-decoration: none;
}

.link_menu_suspenso > span {
    align-items: center;
    display: flex;
    gap: 5px;
}

.link_menu_suspenso:hover {
    background: var(--branco);
}