.rodape {
    background: var(--vermelho-02);
    padding-top: 50px;
    width: 100%;
}

.rodape_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 30px;
}

.rodape_nav_titulo {
    color: var(--branco);
    font-family: var(--montserrat);
    font-size: 1.2rem;
    font-weight: 600;
}

.rodape_nav {
    display: flex;
    gap: 30px;
}

.nav_link{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 7px;
    width: 150px;
}

.rodape_logo {
    width: 200px;
}

.credito_rodape {
    align-items: center;
    background: var(--cinza);
    display: flex;
    gap: 5px;
    justify-content: center;
}

.copy_img {
    width: 9px;
}

.credito_texto {
    font-size: 0.8rem;
}

@media screen and (max-width: 370px) {
    .rodape_nav {
        flex-direction: column;
    }

    .nav_link {
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 430px) {
    .rodape_conteudo{
        flex-direction: row;
        justify-content: space-around;
    }
}

