.conteudo_contatos {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.icone_contatos {
    width: 20px;

}

.link_contato{
    color: var(--preto);
    display: flex;
    gap: 5px;
    text-decoration: none;
}

.icones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link_contato:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.formulario {
    background: var(--cinza);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 20px;
    width: 90%;
}

.titulo_contatos{
    text-align: center;
}

label{
    color: var(--vermelho);
    font-size: 0.8rem;
    padding: 5px 0;
    font-weight: 500;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 400px;
}

input, textarea{
    border: none;
    border-radius: 6px;
    font-family: var(--montserrat);
    width: 85%;
}

input{
    height: 30px;
}

input:focus, textarea:focus {
    border: solid 1px var(--cinza-escuro);
    outline:none;
}

textarea{
    height: 55px;
    resize: none;
}

@media screen and (min-width: 430px) {
    .formulario {
        width: 400px;
    }

    input, textarea{
        width: 95%;
    }
}

@media screen and (max-width: 380px) {
    input, textarea {
        width: 72%;
    }
}

@media screen and (max-width: 330px) {
    input, textarea {
        width: 60%;
    }
}