.link_rodape {
    color: var(--branco);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8rem;
}

.link_rodape > span:hover{
    border-bottom: solid 2px var(--preto);
}