.link_rodape {
    color: var(--branco);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

.link_rodape > span:hover{
    border-bottom: solid 2px var(--branco);
}