.cabecalho {
    align-items: center;
    background: var(--cinza);
    display: flex;
    gap: 2px;
    padding: 0 0;
}

.nav {
    align-items: center;
    display: flex;
    gap: 20px;
}

.logo {
    margin: 10px 30px;
    width: 70px;
}

.btn_menu {
    margin: 20px 30px ;
}

.btn_menu:hover .menu_suspenso{
    display: flex;
}

.img_tres_linhas:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.menu {
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 350px) {
    .nav {
        display: none;
    }
}

@media screen and (min-width: 420px) {
    .logo{
        width: 100px;
    }

    .cabecalho{
        gap: 3%;
    }
    
}

@media screen and (min-width: 760px) {
    .cabecalho{
        gap: 25%;
    }
}
@media screen and (min-width: 1020px) {
    .cabecalho{
        gap: 30%;
    }
}
@media screen and (min-width: 1400px) {
    .cabecalho{
        gap: 35%;
    }
}