.menu_suspenso {
    display: flex;
    justify-content: right;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.menu.inativo {
    display: none;
   
}

.inativo {
    display: none;
}


.btn_menu {
    border: none;
    height: 55px;
    margin: 5px 30px;
    position: absolute;
    z-index: -1;
    padding: 0 20% 0 0;
}

.credito_texto {
    margin-bottom: 0;
    font-family: var(--montserrat);
}

.menu_suspenso_container {
    background: var(--cinza);
    border-radius: 8px 0 0 8px;
    box-shadow: -1px 2px 10px var(--preto);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 480px;
    padding:  20px;
    width: 100%;
}



.menu_suspenso_link {
    border-bottom: solid 1px var(--cinza-escuro);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.btn_fechar_menu {
    align-items: center;
    display: flex;
    border-radius: 100%;
    font-weight: 400;
    height: 25px;
    justify-content: center;
    width: 25px;
}

.x_fechar {
    width: 10px;
}

.btn_fechar_menu:hover {
    background: var(--branco);
    border: none;
}

.logo_menu {
    width: 25%;
}

.menu_cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.titulo_redes_menu {
    font-size: 0.9rem;
    font-weight: 500;
}

.menu_rodape {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.copy {
    width: 10px;
}

.icone {
    width: 17px;
}

@media screen and (min-width: 430px) {
    .btn_menu{
        margin-top: 7px;
    }

    .menu_suspenso_container{
        width: 30%;
    }
}

@media screen and (min-width: 1020px) {
    .menu_suspenso_container{
        width: 30%;
    }
}
