.link {
    color: var(--preto);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

.link:hover {
    border-bottom: solid 2px var(--vermelho);
}
