:root {
  --branco: #ffffff;
  --cinza: #D9D9D9;
  --cinza-escuro: #979494;
  --preto: #000000;
  --vermelho: #FB0102;
  --vermelho-02: #BA0000;
  
  --montserrat: 'Montserrat', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 0.7rem;
}

a{
  text-decoration: none;
}